/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html { 
  background: #121415 url(background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*background-color: #101214;*/
    color: #9EA1A6;

}

h2,.white{
    color: #fff;
}

a{
    color: #9EA1A6;
    text-decoration: none;
}
/* section 1 */
.section-1{
    padding-top: 20vh;
    text-align: center;
}

.section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
}
/* section 2 */
.section-2{
    padding-top: 4vh;
    padding-bottom: 4vh;
    width: 85%;
}

.section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 250px;
}
/* animations / utilities */
.section-2 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.section-1 a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

.meimg{
	border-radius:10%;
}

span.spamprotection {display:none;}

@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 2rem;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}
