:root {
	/* Default (light) theme */
	--bg: #ffffff;
	--accent-bg: #f5f7ff;
	--text: #212121;
	--text-light: #585858;
	--border: #d8dae1;
	--accent: #0d47a1;
	--code: #d81b60;
	--preformatted: #444;
	--marked: #ffdd33;
}

nav a:hover,
nav a.nav-current,
nav a.current {
	background: var(--bg);
	color: var(--accent) !important;
		opacity: 1;
}


/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #14161b;
		--accent-bg: #20232c;
		--text: #e8e6e3;
		--text-light: #fffdf9;
		--border: #a0988b;
		--accent: #58a8e1;
		--code: #de4177;
		--preformatted: #cccccc;
	}
}
