:root {
  /* Default (light) theme */
  --bg: #FFF;
  --accent-bg: #F5F7FF;
  --text: #212121;
  --text-light: #585858;
  --border: #D8DAE1;
  --accent: #0D47A1;
  --accent-light: #90CAF9;
  --code: #D81B60;
  --preformatted: #444;
  --marked: #FFDD33;
  --disabled: #EFEFEF;
}

nav a:hover,
nav a.nav-current,
nav a.current {
  background: var(--bg);
  color: var(--accent) !important;
    opacity: 1;
}


/* Solarised dark theme */
@media (prefers-color-scheme: dark) {

  :root {
    --bg: #002B36;
    --accent-bg: #073642;
    --text: #93A1A1;
    --text-light: #EEE8D5;
    --border: #586E75;
    --accent: #B58900;
    --accent-light: #B58900;
    --code: #268BD2;
    --preformatted: #839496;
    --disabled: #111111;
  }

  /* I feel that simple.css's default of 0.6 has the right idea, but is a bit extreme */
  img, video {
    opacity: .8;
  }
}
